@media only screen and (min-width:1200px) {
.site-header {padding: 25px;
.search-box {width: 805px;position: absolute;right: 95px;top: 15px;}   
.session-name {left: 285px;font-weight: normal;font-size: 15px;color: #777;padding: 7px 10px;}
.session-logout {right: 10px;font-size: 14px;height: 40px;line-height: 40px;padding-left: 15px;padding-right: 15px;padding-top: 0;padding-bottom: 0;}
}



.main-content-wrapper {@include flex-basis(80%);}
.add-products-wrapper {@include align-items(center);min-height: 520px;}
.add-product-form {width:700px}





.content-wrapper {min-height: 520px;}


/* product view  */
    
.product-list-wrapper {
@include flex-basis(100%);

> ul {
margin-bottom:0;
padding-bottom:0;
.product-list {
  margin-bottom: 0;   
padding: 33px;
@include flex-basis(32.37%)    
.product-details-wrapper {
.col1 {@include flex-basis(45%);}    
.col2 {@include flex-basis(50%);}  
.size-stock-table li {
    margin-bottom: 10px;
}      
    }    

}  
}
        
}
   
    
    
/*  view orders */    
    
    
.view-order-wrapper .view-order-th {grid-template-columns:10% 30% 20% 20% 20%; font-size:14px;} 
.view-order-wrapper .view-order-th > div {width:inherit;}
.view-order-wrapper .view-order-tbody {grid-template-columns:10% 30% 20% 20% 20%; padding:20px; font-size:14px;}        
.view-order-wrapper .view-order-tbody > div {width:inherit;}    
    

    
    
    
    
    
/* user view product  */    
    
.site-header .search-box {width: 475px;right: inherit;left: 420px;}    
.order-header-wrapper {width: 120px;right: 106px;position: absolute;top: 15px;}  

    
    
    
    
    
    
    
    
    
    

}









