@media only screen and (min-width:576px) {
  
/* admin */    
.main-index-data {width: 390px;}   
    
    
/* product view  */
    
.product-list-wrapper {
    padding-top:0;
    > ul {
        display:grid;
        grid-template-columns:auto auto;
        .product-list {

        }
        
    }
    
}    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}



