html, body {height: 100%;margin: 0;padding: 0;}

/* globals */

.update-button {height: 40px;margin-top: 6px;background-color:#333 !important;}
.delete-button {height: 40px;margin-top: 6px;}

.site-header {padding:10px;}
.site-header .logo-container {width: 80px;}
.site-header .session-name {position: absolute;top: 30px;left: 107px;font-size: 11px;background-color: #efefef;
padding: 5px 10px;border: 1px solid #ededed;}
.site-header .search-box {margin-bottom: 15px;}
.application-name {font-size: 20px;margin-bottom: 30px;/* font-weight: normal; */}
.session-logout {position: absolute;top: 30px;right: 61px;font-size: 11px;padding: 5px 10px;background-color: #efefef; border: 1px solid #ededed; color: #777;}

/* admin login */

.login-box-wrapper {@include displayflex; @include justify-content(center); @include align-items(center);padding: 20px;background-color: #f5f5f5; height: 100%;}
.login-box {background-color:#fff;padding: 30px; @include box-shadow(1px,0px,5px,3px,rgba(9,9,9,0.1));width:300px;}
.login-box .logo {width: 130px;margin-bottom: 20px;}

/* content section  */

.content-wrapper { @include displayflex; @include flex-wrap(wrap);}
.product-list-wrapper {   
padding-top: 0;
> .container {
> .row {
margin-right: -20px;
margin-left: -20px;   
}
}
.product-list {background-color: #fff;padding: 5px;padding-top: 0;margin-bottom: 5px;
.article-number {font-size: 18px;text-align: left;font-weight: bold;@include flex-basis(100%);}               
.product-details-wrapper { 
    @include displayflex; 
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    background-color:#f0f0f0;
    min-height: 325px;
    padding: 25px;
.col1 { @include flex-basis(35%);
.product-image {margin-bottom: 10px;border: 1px solid #dfdfdf;}                          


}
.col2 { @include flex-basis(55%);
.size-stock-table-wrapper {
.size-stock-table {
    @include displayflex;
    @include flex-wrap(wrap);
/*    @include justify-content(space-between);*/
   margin-top: 0;
padding-top: 0;
li { margin-bottom: 10px;text-align: center;
    @include flex-basis(30%);
    &:nth-child(3n+1) input {border-left: 1px solid #ddd !important;}
    input[type="text"] {width: 100%;border: 1px solid #ddd;padding: 5px;height: 30px;text-align: center;}
    label {font-weight: bold;margin-bottom: 3px;font-size: 14px;display:block;}
    .stock-number {color: #0eb90e;}
    .stock-number.pending {color: #f71d2b;}
    
}
}
}    
}

.stock-status {font-weight: bold;font-size: 16px; @include displayflex; @include justify-content(space-between);
.stock-number {color: #0eb90e;}
}
.pending-status {font-weight: bold;font-size: 16px; @include displayflex; @include justify-content(space-between);
.pending-number {color: #f71d2b;}
}

.stock-and-pending-status {
    flex-basis: 35%;
    margin-top: 5px;
}
.update-and-delete-wrapper {
    flex-basis: 55%;  
}

}  

}



   
}










/* admin view product */
 
 



.main-index-wrapper {@include displayflex; @include justify-content(center); @include align-items(center); height: 100%;background-color: #f7f7f7;}
.main-index-data {@include displayflex; @include flex-direction(column); background-color: #fff; padding:40px; @include box-shadow(0px, 0px, 10px, 0, rgba(0,0,0,0.1));}
.main-index-wrapper .logo {width: 150px;margin-bottom: 30px;}
.red-button {background-color:#f71d2b}
.red-button:hover {background-color:#333333;}
.black-button {background-color:#333333;}
.black-button:hover {background-color:#f71d2b}


.admin-dashboard {height: 100%;}

.main-index-wrapper .logo {width: 150px;margin-bottom: 30px;}

.search-box {
margin-top: 15px; 
position: relative;
z-index: 0;
.form-control-feedback {
    position: absolute;
    z-index: 20;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.form-control {padding-left: 30px;}
.search-button {background-color:#f71d2b;}    
}



/* add products  */

.add-products-wrapper {background: #f1f1f1;padding: 20px;}




/* inner page globals  */

.inner-pages {}
element {
	width: 110px;
	height: auto;
}


.main-content-wrapper {
.heading {background-color: #f0f0f0;
height: 50px;
line-height: 50px;
text-indent: 20px;
font-size: 20px;
margin-bottom: 10px;
font-weight: 600;}
    
        @include flex-basis(100%);
	padding-left: 10px;
	padding-right: 10px;
        
        .add-products-wrapper {
        @include displayflex;
        @include flex-basis(100%);
        @include flex-direction(column);
        @include justify-content(center);
        } 
        
        
        .pending-items-wrapper {
            @include flex-basis(100%);
            display:grid;
            grid-template-columns:auto auto;
            grid-gap:10px;
            .pending-box {
            background-color:#eee;border:1px solid #efefef;
            @include displayflex;
            @include justify-content(space-between);
            padding: 20px;
            }   
        }       
        
        
        
        
}

.add-product-upload {
	font-size: 12px;
	padding-bottom: 30px;
	padding-left: 6px;
	display: block;
	height: 25px;
}

/* main navigation starts  */


/* dropdown menu styles starts */
/* menu trigger animation starts */
.bar1, .bar2, .bar3 {
width: 30px;
height: 3px;
background-color: #333;
margin: 5px 0;
transition: 0.4s;
}
.change .bar1 {
-webkit-transform: rotate(-45deg) translate(-6px, 8px) ;
transform: rotate(-45deg) translate(-6px, 8px) ;
}
.change .bar2 {opacity: 0;}
.change .bar3 {
-webkit-transform: rotate(45deg) translate(-3px, -5px) ;
transform: rotate(45deg) translate(-3px, -5px) ;
}
/* menu trigger animation ends */

.menutrigger {display:inline-block;padding:0px 5px;float:right;font-size:15px;cursor:pointer;z-index: 0;top: 30px;
position: absolute;right: 10px;}
.main-navigation {background: #51c255; height: auto;display:none;z-index: 5;position:relative;@include flex-basis(100%);}
.main-navigation ul {margin:0;padding:0;}
/*.main-navigation .extra a:after { content: '+'; }
.main-navigation .extra a:only-child:after { content: '+'; }*/
.main-navigation li {position:relative;}
.main-navigation li.active a {background:#f9f9f9;}
.main-navigation li:first-child a {padding-top:0; height:60px; line-height: 60px;}
.main-navigation li:first-child a i {display:none;}
.main-navigation li a {background-color:#333;color:#fff;height:53px;line-height:53px;font-size:14px;padding:0 35px;box-sizing: border-box;display: block;border-bottom: 1px solid #282828;font-weight:400; font-style: normal; letter-spacing: -0.05px;}

.main-navigation li a svg {display:none;}
.main-navigation li a:hover {background:#f71d2b;text-decoration: none;}
.main-navigation .extra i {
width: 53px;
text-align: center;
right: 13px;	background: transparent;
height: 53px;
position: absolute;
z-index: 1000;
top: 0;
cursor: pointer;
line-height: 53px;
color: white;
}
.main-navigation .extra i.down::after {
content:'\e114';
font-family: 'Glyphicons Halflings';
font-style: normal;	
}
.main-navigation .extra i.up::after {
content:'\e113';
font-family: 'Glyphicons Halflings';
font-style: normal;	
}
.main-navigation .extra .lg-plus {display:none;}
.main-navigation .extra ul li a {text-indent: 20px;background:#51c255;height:45px; line-height:45px;}
.main-navigation .extra ul li a::before {
content:'\f054';
font-family: 'FontAwesome';
font-style: normal;
position: absolute;
left: 13px;
font-size: 7px;
}

.admin-add-product .main-navigation li:nth-child(2) a {background-color:#f71d2b;}
.admin-view-product .main-navigation li:nth-child(1) a {background-color:#f71d2b;}
.admin-view-orders .main-navigation li:nth-child(3) a {background-color:#f71d2b;}
.user-view-product .main-navigation li:nth-child(2) a {background-color:#f71d2b;}
.user-view-orders .main-navigation li:nth-child(3) a {background-color:#f71d2b;}
.user-categories .main-navigation li:nth-child(1) a {background-color:#f71d2b;}


@media only screen and (min-width:1199px) {
.main-navigation {display:block !important;@include flex-basis(20%);float: left;background-color: #333;}
.main-navigation li {float:none; height:60px; line-height:1;width:auto;}
.main-navigation li:first-child a { height:60px; line-height: 60px;}
.main-navigation li a {height: 60px; line-height: 60px;text-align: left; background-color: #3e3e3e;color:#fff;}
.main-navigation li a span {display:block;font-weight: 900; text-transform: uppercase;}
/* second level <li> tag changed to 'position:relative' to get its child <ul> equal to top of it */
.main-navigation ul li ul li {float:left; position:relative; clear:left; width:100%;height:auto;}
.main-navigation ul li ul {opacity:0; visibility:hidden; position:absolute; transition:all 0.5s ease;z-index: 10;width:270px;box-shadow: 2px 2px 3px rgba(0,0,0,0.5);}
.main-navigation ul li:hover > ul {opacity:1; visibility:visible; position:absolute;}
.main-navigation ul ul ul {left:100%;top:0;}
.main-navigation .extra ul li a {text-indent: 0; line-height: normal; height: auto; padding:15px 0 15px 20px;text-align: left;
&:hover {background:#3fb751;}}
.main-navigation .extra ul li a {padding-right:15px;}
.main-navigation > ul li ul li .down {height:35px; line-height: 35px;}
.main-navigation li:first-child a i {display: block;	height: 20px;	position: absolute;	left: 0;	right: 0;	margin: auto;	text-align: center;	top: 23px;}
.main-navigation .extra i {right: 9px;width: auto;border: none; height:85px; line-height: 85px;font-size:10px;top:6px;}
.main-navigation .extra .lg-plus {display:block;}
.main-navigation .extra .xs-plus, .main-navigation .extra ul li a::before {display:none;}
.menutrigger {display:none;}
}
/* hided menu */
/* dropdown menu styles ends */


/* add products wrapper  */
.add-products-wrapper {}


/* admin view orders */
.admin-view-orders .view-order-wrapper .view-order-th {display:grid;grid-template-columns:auto auto auto auto auto;font-size: 12px;padding:6px;font-weight: bold;margin-bottom:10px;padding-top: 5px;padding-bottom: 5px;}
.admin-view-orders .view-order-wrapper .view-order-th > div {width:20%;}
.admin-view-orders .view-order-wrapper .view-order-tbody {display:grid;grid-template-columns:auto auto auto auto auto;font-size: 12px;background: #f1f1f1;padding: 6px;border-bottom: 1px solid #ddd;}
.admin-view-orders .view-order-wrapper .view-order-tbody > div {width:20%;}


.admin-view-orders-table {font-size:14px;}
.admin-view-orders-table thead th {border-left: 1px solid #dee2e6;border-right: 1px solid #dee2e6;}
.admin-view-orders-table tbody td {border-left: 1px solid #dee2e6;border-right: 1px solid #dee2e6;border-bottom: 1px solid #dee2e6}


/* user categories */
.category-list-wrapper ul {display:grid;grid-template-columns: auto auto;grid-gap: 10px;margin-bottom: 0;}
.category-list-wrapper ul li a {padding: 0;margin: 0;text-align: center;border: 1px solid #ddd;display: block;}
.category-list-wrapper ul li a .category-name {font-size: 20px;padding: 20px 0 0 0;margin: 0;color: #333;}
.category-list-wrapper ul li a .category-image {width:170px; height: 170px;}

/* user view order */

.user-view-orders-table {width:100%;font-size: 12px;}
.user-view-orders-table thead th {padding:5px;}
.user-view-orders-table thead .article-number {width:15%;}
.user-view-orders-table thead .customer-details {width:40%;}
.user-view-orders-table thead .size {width:10%;text-align: center;}
.user-view-orders-table thead .quantity {width:15%;text-align: center;}
.user-view-orders-table thead .price {width:20%;text-align: right;}

.user-view-orders-table tbody tr {border-bottom: 1px solid #ddd;}
.user-view-orders-table tbody td {padding:5px;background-color:#f7f7f7;}
.user-view-orders-table tbody .article-number {width:15%;}
.user-view-orders-table tbody .customer-details {width:40%;}
.user-view-orders-table tbody .size {width:10%;text-align: center;}
.user-view-orders-table tbody .quantity {width:15%;text-align: center;}
.user-view-orders-table tbody .price {width:20%;text-align: right;}




/* user order checkout */

.user-order-checkout-table {width:100%;font-size: 12px;}
.user-order-checkout-table thead th {padding:5px;}
.user-order-checkout-table thead .article-number {width:30%;}
.user-order-checkout-table thead .size {width:15%;text-align: center;}
.user-order-checkout-table thead .quantity {width:15%;text-align: center;}
.user-order-checkout-table thead .price {width:25%;text-align: right;}
.user-order-checkout-table thead .action {width:15%}

.user-order-checkout-table tbody tr {border-bottom: 1px solid #ddd;}
.user-order-checkout-table tbody td {padding:5px;}
.user-order-checkout-table tbody .article-number {width:30%;}
.user-order-checkout-table tbody .size {width:15%;text-align: center;}
.user-order-checkout-table tbody .quantity {width:15%;text-align: center;}
.user-order-checkout-table tbody .price {width:25%;text-align: right;}
.user-order-checkout-table tbody .action {width:15%;text-align: center;}

.user-order-checkout-table tfoot {font-size: 17px;}
.user-order-checkout-table tfoot .total-label {padding:5px;}
.user-order-checkout-table tfoot .total-value {padding:5px;text-align: right;}

.user-order-checkout-table tbody td {background:#f7f7f7;}
.user-order-checkout-table tbody td .remove {cursor:pointer;}






/* user order checkout */

.customer-details-form {padding:25px;}
.user-order-checkout .view-order-wrapper .view-order-th {display:grid;grid-template-columns:35% 12% 22% 21%;font-size: 12px;padding:6px;font-weight: bold;margin-bottom:10px;padding-top: 5px;padding-bottom: 5px;}
.user-order-checkout .view-order-wrapper .view-order-th .size, .user-order-checkout .view-order-wrapper .view-order-th .quantity {text-align: center;}
.user-order-checkout .view-order-wrapper .view-order-th .price {text-align: right;}
.user-order-checkout .view-order-wrapper .view-order-tbody {display:grid;grid-template-columns:30% 20% 15% 25% 10%;font-size: 12px;background: #f1f1f1;padding: 6px;border-bottom: 1px solid #ddd;}
.user-order-checkout .view-order-wrapper .view-order-tbody > div {}
.user-order-checkout .view-order-wrapper .view-order-tbody .price {text-align: right;}
.user-order-checkout .view-order-wrapper .view-order-tbody .remove {text-align: right;}
.user-order-checkout .view-order-wrapper .view-order-tbody .remove i {cursor: pointer;}
.user-order-checkout .view-order-wrapper .view-order-tbody .quantity {text-align: center;}
.user-order-checkout .view-order-wrapper .view-order-tbody .size {text-align: center;}



/* user view screens */

.order-header-wrapper a {
@include displayflex;
@include justify-content(space-evenly);
    border: 1px solid #dfdfdf;
line-height: 40px;
    font-weight: bold;
    color:#000;
    height:40px;
}

/* footer */

.app-footer {background-color: #eee;margin-top: 10px;height: 60px;line-height: 60px;}
.app-footer .copyright {margin-bottom:0;font-size: 12px;text-align: center;}


 
/* Validation Error */

.error_message {
	background: #fff;
	color: #f71d2b;
	border: 2px solid #f71d2b;
	margin-top: 15px;
	padding: 10px 15px;
}

.alert-messages {
padding: 90px;
background-color: #f9f9f9;
margin-left: 5px;
margin-right: 5px;
color: #666;
text-align: center;
width: 100%;
}