/* transition shorthand method  */
/* transition extended method  */
/* Border Radius */
/* Opacity */
/* Box Shadow */
/* Note: even if we don't declare 'inset' it will work */
/* 2D Transform (Extended Method) */
/* Translate: */
/* Scale: */
/* Rotate: */
/* 2D Transform (Short Cut Method) */
/* Rotate */
/* Scale */
/* Translate */
/* Skew */
/* Transform Origin */
/* CSS3 Animation Mixin Implementation Example */
/* Method:1 (Shorthand Method) */
/* Method:2 (Extended Method) */
/* Flexbox SASS mixins */
/* Flexbox display */
/*  gradient */
/* linear gradient base */
/* linear gradient left to right */
/* preloader starts */
.preloader-container.enable-preloader .preloader {
  background-color: #c8ff32;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
  -moz-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
  -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.preloader-container .preloader {
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 30;
  background-color: #c8ff32;
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
  -moz-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
  -o-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
}

.preloader-container .preloader img {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  -webkit-animation: preloaderfadein 1.5s linear 0.1s 1 normal backwards running;
  -moz-animation: preloaderfadein 1.5s linear 0.1s 1 normal backwards running;
  -o-animation: preloaderfadein 1.5s linear 0.1s 1 normal backwards running;
  animation: preloaderfadein 1.5s linear 0.1s 1 normal backwards running;
}

/* preloader ends */
